@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-wrapper {
  position: absolute;
}

.collage-ui {
  top: 16.5%;
  margin: auto;
  --size: 95vw;
  --aspect-ratio: 0.5626;
  width: var(--size);
  height: calc(var(--size) * var(--aspect-ratio));
  max-width: 1024px;
  max-height: 576px;
  display: flex;
  // justify-content: space-between;
  // padding: 48px;
  position: relative;
  flex-wrap: wrap;
  background-color: black;
  background-size: cover;

  .collage-images-ui {
    transform: translateX(10px);
    .collage-img-ui {
      --size: 11.6vw;
      margin: 1px;
      width: var(--size);
      height: var(--size);
    }
  }

  .collage-titles-ui {
    transform: translateX(25px);
    span {
      font-family: "Space Mono", monospace;
      display: block;
      font-size: 1.1vw !important;
      font-weight: 400;
      line-height: 1.2vw;
      color: white;
    }
  }

  @media (min-width: 1024px) {
    width: 1024px;
    height: 576px;

    .collage-images-ui {
      transform: none;
      .collage-img-ui {
        width: 125px;
        height: 125px;
      }
    }
    .collage-titles-ui {
      transform: none;
      span {
        font-size: 11px !important;
        line-height: 12px !important;

      }
    }
  }
}

.html2canvas-container {
  transform: translateX(3000px);
  // width: 1024px;
  // height: 576px;
  // display: flex;
  // // justify-content: space-between;
  // // padding: 48px;
  // position: relative;
  // flex-wrap: wrap;
  // background-color: black;
}

.collage-container {
  width: 1024px;
  height: 576px;
  display: flex;
  // justify-content: space-between;
  // padding: 48px;
  position: relative;
  flex-wrap: wrap;
  background-color: black;
  background-size: cover;

  span {
    font-family: "Space Mono", monospace;
    display: block;
    font-size: 11px;
    font-weight: 500;
    // line-height: 0.8;
    line-height: 12px;
    color: white;
  }
}

.selected-index {
  opacity: 0.5;
}
