@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
img{
  max-width: 100px;
  max-height: 100px;
} 

.html2canvas-container{
  width: 480px;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 48px;
  position: relative;
  flex-wrap: wrap;
}


