@tailwind base;
@tailwind components;
@tailwind utilities;

// logo

.brand {
  h2 {
    color: #ba0606;

  }
}

//menu
.menu-wrapper {
  // hide 'no file selected'
  input[type="file"] {
    color: rgba(0, 0, 0, 0);
  }

  .menu-block {
    margin: 24px 0px;
  }

  .menu-accordion {
    transition: max-height ease-in-out 0.5s;
    max-height: 0;
    overflow: auto;
  }

  .menu-accordion.open {
    max-height: 500px;
  }

  .menu-content {
    border-top: 1px solid;
    padding: 24px 8px 8px 8px;
  }

  .open-accordion-btn {
    &:hover {
      cursor: pointer;
    }
  }

  .search-input,
  .export-button {
    &:hover {
      border-color: #646cff !important;
    }
  }

  .search-results-div {
    overflow-x: hidden;
    font-size: 12px;
    .album-card {
      min-height: 70px;
      padding: 8px;
      border-bottom: 1px solid;
      max-height: 50px;
      &:hover {
        cursor: pointer;
      }

      img {
        width: 64px;
        max-width: 50px;
        max-height: 50px;
      }
      &:hover {
        opacity: 0.9;
        background-color: #ffffff21;
      }
    }
  }
  .chart-title-input {
    &:hover {
      border-color: rgba(245, 245, 245) !important;
    }
  }

  .export-options-div {
    border-top: dotted 1px rgb(245, 245, 245);
  }
  .color-box {
    border: 3px solid white;
    width: 50px;
    height: 25px;
    min-width: 50px;
    &:hover {
      cursor: pointer;
      border-color: rgb(245, 245, 245) !important;
    }
  }

  .color-picker-div {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.43);
    position: absolute;
    z-index: 20;
    // transform: translate(170px, -130px) scale(0.6);
    // transform: translate(55%, -35%) scale(0.6);
  }
  // i'd do it but i don't want to deal with compensating scroll smh
  // .color-picker-div::after {
  //   content: "";
  //   position: absolute;
  //   top: 25%;
  //   right: 100%;
  //   margin-left: -5px;
  //   border-width: 25px;
  //   border-style: solid;
  //   border-color: transparent rgba(0, 0, 0, 0.43) transparent transparent;
  // }

  .font-menu-pop-up {
    transform: translate(55%, -35%) scale(0.6);
  }
  .bg-menu-pop-up {
    transform: translate(35%, -35%) scale(0.6);
  }

  .close-pop-up-btn {
    font-size: 28px;
  }

  .reset-pop-up-btn {
    font-size: 24px;
  }

  .image-position-pop-up-btn {
    font-size: 20px;
  }

  &.desktop {
    height: 100vh;
    width: 100%;
    // background-color: rgba(255, 255, 255, 0.055);
    background-color: #303030;

    h3,
    h4 {
      text-wrap: nowrap;
    }
  }
}

.background-position-menu {
  .background-position-field {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
      linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }
  .background-position-dot {
    border: 3px solid white;
  }
}
.desktop-footer {
  background-color: #303030;
  & > div {
    border-top: 1px solid rgb(425, 425, 425);
    span {
      color: rgba(245, 245, 245, 0.25);
    }
    button {
      transition: color 1s;
      color: rgba(245, 245, 245, 0.35);

      &:hover {
        color: rgb(245, 245, 245);
      }
    }
  }
}

button {
  // border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: rgb(245, 245, 245) !important;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

button.active {
  background-color: #5c5c5c;
}

button.no-style {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  &:hover {
    border-color: none;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.dot-loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;

  @keyframes l5 {
    0% {
      box-shadow:
        20px 0 #ffffff,
        -20px 0 rgba(255, 255, 255, 0.133);
      background: #ffffff;
    }
    33% {
      box-shadow:
        20px 0 #ffffff,
        -20px 0 rgba(255, 255, 255, 0.133);
      background: rgba(255, 255, 255, 0.133);
    }
    66% {
      box-shadow:
        20px 0 rgba(255, 255, 255, 0.133),
        -20px 0 #ffffff;
      background: rgba(255, 255, 255, 0.133);
    }
    100% {
      box-shadow:
        20px 0 rgba(255, 255, 255, 0.133),
        -20px 0 #ffffff;
      background: #ffffff;
    }
  }
}

.circle-loader-lg {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(245, 245, 245, 0.519);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

.circle-loader-sm {
  width: 30px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(245, 245, 245, 0.519);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

//collage

.collage-ui {
  max-width: 1024px;
  margin: auto;
  position: relative;
  top: 2% !important;

  @media (min-width: 1024px) {
    transform: scale(0.6) !important;
    // transform: none !important;
    top: 12.5%;
  }

  @media (min-width: 1600) {
    transform: scale(0.8) !important;
  }
}

.collage-header {
  font-size: 36px;
  font-weight: 800;
}

// 4x4 collage CANVAS

.html2canvas-container {
  transform: translateX(3000px);
}
.collage-container {
  .image-div {
    display: flex;
    justify-content: center;
    top: 50%;
    max-height: 100%;
    flex-wrap: wrap;
    transform: translateX(-20px);
  }
}

.collage-container {
  width: 1024px;
  height: 576px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: black;
  background-size: cover;

  @media (min-width: 1024) {
    width: auto;
  }

  span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    color: white;
  }
}

// 4x4 collage CANVAS, no album titles

.collage-container.hide-album-titles {
  width: 576px;
  height: 576px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: black;
  background-size: cover;

  span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    // line-height: 0.8;
    line-height: 12px;
    color: white;
  }

  .image-div {
    transform: none;
  }
}
.collage-container.show-chart-title {
  --title-size: 1.15;
  --height: 576px;
  height: calc(var(--height) * var(--title-size));
  padding-bottom: 40px;
}

.hide-album-titles {
  .lift-header-if-no-titles {
    transform: translateY(-25px);
  }
  .double-lift-if-no-titles {
    transform: translateY(-40px);
  }
  .lower-header-if-no-titles {
    transform: translateY(12.5px);
  }
}

.show-album-titles {
  .lift-header-if-titles {
    transform: translateY(-20px);
  }
  .lower-header-if-titles {
    transform: translateY(8px);
  }
}

// top50

.top50-container {
  width: 1080px;
  height: 720px;

  .image-div {
    display: flex;
    justify-content: center;
    top: 50%;
    max-height: 100%;
    flex-wrap: wrap;
    transform: translate(-20px, -7.5px);
  }

  span {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 9.9px;
    color: white;
  }
  .top50-section-header {
    margin: 0 16px 28px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.top50-ui {
  max-width: 1080px;
  margin: auto;
  position: relative;
  top: 2% !important;

  @media (min-width: 1024px) {
    transform: scale(0.6) !important;
    // transform: none !important;
    top: 12.5%;
  }

  @media (min-width: 1600) {
    transform: scale(0.8) !important;
  }
}

.top50-container.show-chart-title {
  --title-size: 1.15;
  --height: 720px;
  height: calc(var(--height) * var(--title-size));

  .chart-title {
    span {
      font-size: 36px;
      font-weight: 800;
    }
  }
}

.top50-container.hide-album-titles {
  width: 730px; //FOR THE CLASSIC BOXY LOOK ^^

  // .second-tier-classics > flex {
  //   width: 580px;
  // }

  // ^^ FOR THE WIDE MODERN LOOK ^^

  display: flex;
  background-color: black;
  background-size: cover;

  span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: visible;
    // line-height: 0.8;
    line-height: 12px;
    color: white;
  }

  .image-div {
    transform: none;
  }
}

// top100

.top100-container {
  width: 1080px;
  height: 1080px;

  .image-div {
    display: flex;
    justify-content: center;
    top: 50%;
    max-height: 100%;
    flex-wrap: wrap;
    transform: translate(-20px, -7.5px);
  }

  span {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 7.8px;
    color: white;
  }
  .top100-section-header {
    margin: 0 16px 28px 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.top100-ui {
  max-width: 1080px;
  position: relative;

  @media (min-width: 1024px) {
    transform: scale(0.6) !important;
  }

  @media (min-width: 1600) {
    transform: scale(0.8) !important;
  }
}

.top100-container.show-chart-title {
  --title-size: 1.1;
  --height: 1080px;
  height: calc(var(--height) * var(--title-size));

  .chart-title {
    span {
      font-size: 36px;
      font-weight: 800;
    }
  }
}

.top100-container.hide-album-titles {
  width: 700px;
  display: flex;
  background-color: black;
  background-size: cover;

  span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: visible;
    // line-height: 0.8;
    line-height: 12px;
    color: white;
  }

  .image-div {
    transform: none;
  }
}

//all tables

.enable-shadows {
  .table-box,
  &.collage-container .image-div > div {
    box-shadow: 0px 0px 2px #000000;
  }
  .table-box.table-box-lg {
    box-shadow: 0px 0px 4px #000000;
  }
}

.selected-index {
  opacity: 0.5;
}

// modal

.about-modal {
  background-color: #000000da;
  .modal-body {
    background-color: #242424;
  }
}
