$background-color: #242424;

:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* uncomment in production so the live canvas isn't visible  */
  overflow-x: hidden;
}

input[type="text"],
textarea,
select {
  background-color: $background-color;
}

body {
  margin: 0;
  min-width: 320px;
  display: block;
  min-height: 900px;
  overflow: hidden;

  @media (min-width: 460px) {
    min-height: 1000px;
  }
  @media (min-width: 640px) {
    // min-height: 130vh;
    min-height: 1300px;
  }

  @media (min-width: 768px) {
    // min-height: 150vh;
    min-height: 1400px;
  }

  @media (min-width: 1025px) {
    min-height: 100vh;
    max-height: 100vh;
  }

  div {
    border-color: rgba(245, 245, 245, 0.371) !important;
  }
}

body.loading {
  cursor: wait !important;
}

button.disabled {
  color: rgba(218, 215, 215, 0.249);
}

button.delete {
  background-color: #ff382e;
}

.text-error {
  color: #ff382e;
}
